<section class="py-2 my-3 px-lg-2 fundo-white">
    <div class="table-responsive mt-1 py-2 px-3">
        <table class="table tabela-clientes align-middle table-borderless">
            <thead>
                <tr class="align-bottom">
                    <th data-orderable="false">Ativo</th>
                    <th>Codigo</th>
                    <th>Razão Social</th>
                    <th>CNPJ</th>
                    <th>Email</th>
                    <th>CEP</th>
                    <th>Data Criado</th>
                    <th data-orderable="false">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% if clientes_list %}
                    {% for cliente in clientes_list %}
                        <tr>
                            <td>
                                <button class="figure small pe-1">
                                    <i class="fa-solid fa-circle" style="color: {% if cliente.ativo %}rgb(32, 218, 100);{% else %}#ba2525;{% endif %}"></i>
                                </button>
                            </td>
                            <td>{{cliente.id | default:"N/A"}}</td>
                            <td>{{cliente.razao_social | default:"N/A"}}</td>
                            <td>{{cliente.cnpj | default:"N/A"}}</td>
                            <td>{{cliente.email | default:"N/A"}}</td>
                            <td>{{cliente.cep | default:"N/A"}}</td>
                            <td>{{cliente.data_criado | date:"d/m/Y" | default:"N/A" }}</td>
                            <td>
                                <button class="icone medium" data-bs-placement="right" title="Editar clientes" onclick="modal_editar_clientes({{ cliente.id }})" > 
                                    <i class="fa-solid fa-pen-to-square" style="color: #1968a4;"></i>
                                </button>
                                <button class="icone medium" data-bs-placement="right" title="Excluir clientes" onclick="modal_excluir_clientes({{ cliente.id }})" >
                                    <i class="fa-solid fa-trash" style="color: #df3030;"></i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</section>


