@import url("global/responsive.css");

body{
    font-family: "Nunito",sans-serif;
    overflow: hidden;
}

.login-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.login-header{
    top: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #529655;
    width: 100%;
    height: 3rem;
}

.login-header img{
    width: 12rem;
}

.login-section{
    /* margin-top: 5rem; */
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 3.5px #e3e3e3 ,-1px -1px 1px #f9f9f9;
    padding: 0.5rem 2.6rem 2.6rem 2.3rem;
}

.login-section h2{
   margin: 0.5rem 0rem 1.2rem 0rem;
   font-weight: 600;
   color: #3a3737;
   letter-spacing: -.5px;
   font-size: 2rem;
}

.login-section h2 span{
    color: rgb(67, 165, 72);
}

#form{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

#form .container-text{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

#form .container-text label{
   position: absolute;
   top: 2px;
   left: 10px;
   font-weight: 600;
   color: #898989;
   font-size: 0.8rem;
}

#form .container-text input{
   width: 266px;
   border-radius: 2px;
   background-color: #f8f8f8;
   border: .5px solid #e2e2e2; 
   outline: none;
   font-size: 14px;
   padding: 1.4rem 0.5rem 0.4rem 1.3rem;
}

#form .button{
    width: 266px;
    margin-top:.7rem ;
    border-radius: 4px;
    background-color: #3a3737;
    font-weight: 600;
    color: white;
    font-size: 17px;
    height: 42px;
}

#form .button:hover{
    background-color: #504f4f;
}

#form a{
    font-size: 13px;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 1.2px;
    color: #5e5d5d;
}

#form a:hover{
    color: #529655;
}

@media screen and (max-width: 768px){
    
    .login-header img{
        width: 8rem;
    }

    .login-section{
        border: none;
        box-shadow: none;
    }

    .login-section h2{
        font-size: 1.6rem;
    }

    #form .container-text label{
        font-size: 0.7rem;
    }

    #form a{
        font-size: 12px;
    }

}