{% extends 'bases/modal_base.html' %}

{% block modal_header %}
    
    <h5 class="modal-title">Deseja realmente remover o local ?</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

{% endblock %}

{% block modal_body %}

    <div class="modal-body form-group py-3" id="{{modal}}_{{controller}}_body">
        {% csrf_token %}
        <div class="alert alert-danger" id="excluir-error-locais-generico" style="display:none;" role="alert">
            <span id="excluir-error-locais-generico-text"></span>
        </div>

        <div class="row mt-2 m-0">
            <div class="col-8 ps-0">
                <label for="informacao">Informações do local</label>
                <input type="text" name="informacao"  id="excluir-locais-informacao"  autocomplete="off" class="form-control"  readonly="readonly" >
            </div>

            <div class="col-4 px-0">
                <label for="id">Codigo</label>
                <input type="text" name="id"  id="excluir-locais-id" class="form-control" readonly="readonly" >
            </div>
        </div>

        <div class="form-group my-3" >
            <label for="clientes">Clientes Vinculados</label>

            <ul class="list-group" name="clientes" style="max-height: 50vh !important;overflow-y: auto;">
            </ul>

            <input type="text" id="excluir-locais-clientes_list" style="display:none;">
        </div>
    </div>
    
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" onclick="excluir_locais()">Confimar</button>
    </div>

{% endblock %}
