{% extends 'bases/base.html' %}
{% load static %}
{% block styles %} 
    <link href="{% static 'css/tabela.css' %}" rel="stylesheet">
{% endblock %}

{% block title %} {{ titulo_page }} {% endblock %}

{% block conteudo %}

    <Section class="py-4" > 

        <div class="title-header d-flex flex-row justify-content-between align-items-center fundo-white">
        
            {% include 'bases/sub_titulo_base.html' %}
            
            <div class="title-right">
                <button type="button" class="button-default d-flex justify-content-center align-items-center" onclick="modal_cadastrar_usuarios()"> 
                    <i class="fa-solid fa-plus"></i> <span class="mx-2">Cadastrar</span> 
                </button>
            </div>

        </div>

        {% include 'listar/usuario_list.html' %}

    </section>

    {% with modal="cadastrar" controller="usuarios" %}
        {% include 'cadastrar/cadastrar_usuario.html' %}
    {% endwith %}

    {% with modal="editar" controller="usuarios" %}
        {% include 'editar/editar_usuario.html' %}
    {% endwith %}

    {% with modal="excluir" controller="usuarios" %}
        {% include 'excluir/excluir_usuario.html' %}
    {% endwith %}

{% endblock %}

{% block scripts %} 
    <script src="{% static 'js/tabela.js' %}" ></script>
    <script src="{% static 'js/usuario.js' %}" ></script>
{% endblock %}